{% extends "base.html" %}

{% block content %}
<h1 class="center">{{ title }}</h1>

<form action="" method="post" class="my_form">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <p>
        {{ form.scan_result.label }}<br>
        {{ form.scan_result(class="form-control") }}<br>
        {% for error in form.scan_result.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(class="form-control") }}<br>
        {% for error in form.password.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}